.feedback {
    background-color: var(--yellow);
}
.feedback__info {
    padding: 6rem 0 6rem 0;
}
.feedback__head {
    text-align: center;
    margin: 0 0 3.75rem 0;
 }
 .feedback__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 1.25rem;
 }
.feedback__item {
    text-align: start;
 }
.feedback__item-head {
    margin: 0 0 0.625rem 0;
 }
.feedback__item-data-container {
    margin: 0 0 1.25rem 0; 
}
.feedback__item-data { 
 margin: 0 0.5rem 0 0;
}
.feedback__item-text {
    margin: 0 0 1.125rem 0;
 }
.feedback__item-read { 
    margin: 0 0 4rem 0;
    border-bottom: 0.0625rem solid var(--black);
    display: inline-block;
}
.feedback__item-read:hover {
    cursor: pointer;
}
.feedback__btn-container {
    text-align: center;
}
.feedback__btn {
    border: 0.0625rem solid var(--black);
    display: inline-block;
}
.feedback__btn:hover {
    cursor: pointer;
}
@media (max-width:900px) {
    .feedback__items {
        display: flex;
        flex-direction: column;
    }
    .feedback__item {
        text-align: center;
        padding: 0 1rem;
    }
}