@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");
@import url("./nullstyle.css");
@import url("./banner.css");
@import url("./steps.css");
@import url("./price.css");
@import url("./autopark.css");
@import url("./feedback.css");

:root {
  --yellow: #fed100;
  --black: #000000;
  --white: #ffffff;
  --red: #ff352b;
  --orange: #ff772b;
  --light_grey: #EBEBEB;
}
