.prices {
  padding: 0 0 6.5rem 0;
}
.conteiner {
}
.prices__info {
}
.prices__title {
  text-align: center;
}
.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}
.prices__subtitle {
  text-align: center;
  padding: 1rem 0 0 0;
}
.subtitle {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 600;
}
.prices__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 3.75rem 0 0 0;
}
.price__card {
  text-align: center;
  border: 0.0625rem solid #ebebeb;
  padding: 5.25rem 0 3.75rem 0;
}
.price__card:nth-child(1):hover {
  border: 0.0625rem solid var(--yellow);
}
.price__card:nth-child(2):hover {
  border: 0.0625rem solid var(--yellow);
}
.price__card:nth-child(3):hover {
  border: 0.0625rem solid var(--yellow);
}
.card__title {
  margin: 0 0 3.75rem 0;
}
.price__card p {
  margin: 0 0 1.625rem 0;
}
.card__monney {
  margin: 2.375rem 0 3.5rem 0;
}
.card__btn {
  padding: 0 0 5rem 0;
}
.button {
  padding: 0.85rem 4.95rem 0.85rem 4.95rem;
  background-color: var(--yellow);
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.prices__all {
  display: none;
  width: 9.5rem;
  text-align: center;
  margin: 1.875rem auto 0 auto;
  font-size: 1.5rem;
  line-height: 2.1rem;
  font-weight: 500;
  border-bottom: 0.0625rem solid var(--black);
}
@media (max-width: 970px) {
  .prices__cards {
    grid-template-columns: 1fr;
    gap: 2rem 1rem;
  }
  .card__title {
    padding: 0 0 3.75rem 0;
  }
  .prices__all {
    display: block;
  }
  .price__card {
      display:none;
  }
  .price__card:first-child {
    display:block;
}
}
@media (max-width: 600px) {
  .prices__cards {
    grid-template-columns: 1fr;
    gap: 2rem 1rem;
  }
}
