:root {
    --black: #000000;
}
.steps {
    margin: 6rem auto 0 auto;
    padding: 0 0 6rem 0;
}
.steps__title { 
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.285rem;
    font-weight: 600;
   
}
.steps__info { 
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.75rem;
}
.step { 
    display: flex;
    justify-content: center;
    flex: 0 1 50%;
    align-items:flex-start;
    gap: 2.5rem;
    margin: 0 0 3.5rem 0;
}
.step__number {
    text-align: center;
    font-size: 3.125rem;
    line-height: 3.81rem;
    font-weight: 300;
 }
 .step__text {
    
 }
 .step__text h3 {
    font-size: 1.25rem;
    line-height: 1.56rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
}
.step__arrow {
    position: relative;
    width: 1rem;
    height: 1rem;
    display: none;
    transform: rotate(90deg);
}
.step__arrow::before,
.step__arrow::after {
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: var(--black);
    position: absolute;
}
.step__arrow::before {
    top: 0;
    transform: rotate(45deg);
}
.step__arrow::after {
    bottom: 0.2rem;
    transform: rotate(-45deg);
}
@media (max-width:610px) {
    .step__arrow {
        display: block;
    }
    .step__text p {
        display: none;
    }
    .step__text h3 {
        font-size: 1rem;
        line-height: 1.25rem;
        width: 11.75rem;
        margin: 0;
    }
    .step__number {
        font-size: 3.05rem;
        line-height: 3.15rem;
        width: 4rem;
    }
    .step {
        gap:0.75rem;
        margin: 0 auto 3.5rem auto;
    } 
    .step__text {
        display: flex;
     }  
}
